In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Perth,AU,2022-03-07 08:19:24,-31.9333,115.8333,94.66,28,0,16.11
1,1,Port Elizabeth,ZA,2022-03-07 08:20:38,-33.9180,25.5701,81.10,61,0,16.11
2,2,Faanui,PF,2022-03-07 08:20:39,-16.4833,-151.7500,81.77,73,79,13.87
3,3,Mahebourg,MU,2022-03-07 08:20:39,-20.4081,57.7000,86.29,70,75,16.11
4,4,Natitingou,BJ,2022-03-07 08:20:40,10.3042,1.3796,84.63,49,22,2.59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# --------- alternative--no for loop----

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# --------Percent Humidity Heatmap------

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# ------Percent Cloudiness Heatmap-------

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# ---------Wind Speed Heatmap-------

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

# --------- Vacation Criteria

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Port Elizabeth,ZA,2022-03-07 08:20:38,-33.9180,25.5701,81.10,61,0,16.11
2,2,Faanui,PF,2022-03-07 08:20:39,-16.4833,-151.7500,81.77,73,79,13.87
3,3,Mahebourg,MU,2022-03-07 08:20:39,-20.4081,57.7000,86.29,70,75,16.11
4,4,Natitingou,BJ,2022-03-07 08:20:40,10.3042,1.3796,84.63,49,22,2.59
5,5,Hobart,AU,2022-03-07 08:20:17,-42.8794,147.3294,66.27,61,0,8.05
6,6,Hermanus,ZA,2022-03-07 08:20:40,-34.4187,19.2345,74.89,82,100,10.71
7,7,Kapaa,US,2022-03-07 08:20:41,22.0752,-159.3190,69.78,70,20,6.91
8,8,Castro,BR,2022-03-07 08:20:41,-24.7911,-50.0119,62.69,90,30,1.54
9,9,Reconquista,AR,2022-03-07 08:20:12,-29.1500,-59.6500,76.32,76,14,7.81
11,11,Cape Town,ZA,2022-03-07 08:18:16,-33.9258,18.4232,77.11,68,40,24.16

In [14]:
preferred_cities_df.count()

City_ID       285
City          285
Country       280
Date          285
Lat           285
Lng           285
Max Temp      285
Humidity      285
Cloudiness    285
Wind Speed    285
dtype: int64

# --------Map Vacation Criteria

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1   Port Elizabeth      ZA     81.10 -33.9180   25.5701
2           Faanui      PF     81.77 -16.4833 -151.7500
3        Mahebourg      MU     86.29 -20.4081   57.7000
4       Natitingou      BJ     84.63  10.3042    1.3796
5           Hobart      AU     66.27 -42.8794  147.3294
6         Hermanus      ZA     74.89 -34.4187   19.2345
7            Kapaa      US     69.78  22.0752 -159.3190
8           Castro      BR     62.69 -24.7911  -50.0119
9      Reconquista      AR     76.32 -29.1500  -59.6500
11       Cape Town      ZA     77.11 -33.9258   18.4232

# ---Retrieve Hotels from a Nearby Search----

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Port Elizabeth,ZA,81.10,-33.9180,25.5701,39 On Nile Guest House
2,Faanui,PF,81.77,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,Mahebourg,MU,86.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
4,Natitingou,BJ,84.63,10.3042,1.3796,Cotonou
5,Hobart,AU,66.27,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
6,Hermanus,ZA,74.89,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Kapaa,US,69.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Castro,BR,62.69,-24.7911,-50.0119,CHACARA BAILLY
9,Reconquista,AR,76.32,-29.1500,-59.6500,Grand Hotel
11,Cape Town,ZA,77.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))